# EJERCICIO II: EXCEL Y TIDY DATA

In [1]:
# IMPORTAR LIBRERÍAS

import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pylab as plt
%matplotlib inline
import re

### CARGAR ARCHIVO dolar_2019_sii.csv

In [2]:
dolar_2019 = pd.read_csv('\\Users\\aiant\\Desktop\\Diplomado Ciencia de Datos\\[6] Análisis y limpieza de datos\\Tareas\\Tarea 1\\tarea1-add\\data\\raw\\dolar2019_sii.csv', sep=';', engine='python', decimal=',')
dolar_2019

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN
1,2,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13
2,3,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29
3,4,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44
4,5,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75
5,6,NaN,652.78,657.49,NaN,678.68,693.25,NaN,721.70,717.52,NaN,745.85,784.25
6,7,688.42,653.90,658.40,NaN,681.09,692.21,NaN,716.35,NaN,715.53,743.65,NaN
7,8,679.69,654.44,662.19,664.17,683.49,NaN,683.12,718.55,NaN,717.05,740.23,NaN
8,9,680.10,NaN,NaN,663.01,684.51,NaN,685.83,710.98,711.22,722.28,NaN,779.04
9,10,678.09,NaN,NaN,663.15,686.43,692.28,688.88,NaN,713.72,724.27,NaN,771.29
10,11,677.58,656.46,670.83,662.92,NaN,697.34,685.40,NaN,714.77,720.61,746.23,778.14
11,12,NaN,660.82,669.37,664.19,NaN,693.60,683.38,712.04,714.39,NaN,756.08,772.93
12,13,NaN,660.49,667.09,NaN,685.67,694.89,NaN,716.69,711.29,NaN,783.72,768.69
13,14,675.15,661.60,665.68,NaN,693.04,696.25,NaN,708.37,NaN,712.98,794.51,NaN
14,15,674.95,665.90,670.62,660.67,692.33,NaN,681.07,NaN,NaN,712.04,801.83,NaN
15,16,673.76,NaN,NaN,662.86,692.62,NaN,NaN,710.14,707.07,715.48,NaN,766.76
16,17,672.73,NaN,NaN,663.98,692.79,698.72,679.48,NaN,709.81,718.69,NaN,762.83
17,18,671.37,663.98,669.39,660.48,NaN,699.52,681.69,NaN,NaN,713.23,782.82,756.95
18,19,NaN,660.82,667.21,NaN,NaN,696.81,683.27,709.26,NaN,NaN,773.81,752.30
19,20,NaN,658.75,664.78,NaN,696.61,693.99,NaN,711.94,NaN,NaN,782.71,752.60
20,21,670.10,654.52,666.13,NaN,NaN,684.19,NaN,710.63,NaN,709.71,797.17,NaN
21,22,672.42,654.33,665.12,662.27,697.23,NaN,685.81,709.52,NaN,723.52,795.14,NaN
22,23,672.26,NaN,NaN,663.91,696.70,NaN,688.28,713.22,715.24,726.24,NaN,749.83
23,24,672.41,NaN,NaN,668.19,698.03,683.41,691.57,NaN,722.17,726.15,NaN,754.27
24,25,672.14,651.36,676.60,672.83,NaN,682.31,691.36,NaN,721.92,723.43,795.94,NaN
25,26,NaN,649.22,679.08,676.21,NaN,678.32,694.16,716.40,727.08,NaN,791.16,751.04
26,27,NaN,649.80,679.02,NaN,694.84,680.06,NaN,718.75,726.17,NaN,793.49,746.66
27,28,667.04,649.92,683.73,NaN,696.46,679.86,NaN,721.55,NaN,725.87,806.30,NaN
28,29,671.29,NaN,681.09,673.86,703.48,NaN,696.62,724.20,NaN,724.37,828.25,NaN
29,30,669.60,NaN,NaN,677.67,708.20,NaN,697.22,720.65,725.68,726.34,NaN,744.62
30,31,666.76,NaN,NaN,NaN,707.86,NaN,699.98,NaN,NaN,NaN,NaN,NaN
31,Promedio,677.06,656.30,667.68,667.40,692.00,692.41,686.06,713.70,718.44,721.03,776.53,770.39

In [3]:
dolar_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Día     32 non-null     object
 1   Ene     23 non-null     float64
 2   Feb     21 non-null     float64
 3   Mar     22 non-null     float64
 4   Abr     22 non-null     float64
 5   May     22 non-null     float64
 6   Jun     21 non-null     float64
 7   Jul     23 non-null     float64
 8   Ago     22 non-null     float64
 9   Sep     19 non-null     float64
 10  Oct     23 non-null     float64
 11  Nov     21 non-null     float64
 12  Dic     21 non-null     float64
dtypes: float64(12), object(1)
memory usage: 3.4+ KB

**¿Qué argumento necesita pd.read_csv() para leer las columnas correctamente?**

Necesita que se le indique:
1. Que está separado por punto y coma (sep=';')
2. Que los decimales están separados por coma (decimal=',')
3. Opcionalmente se puede agregar la función engine por si hubiera más de un tipo de separador (engine='python')

### EXPLORAR ARCHIVO dolar_2020_sii.txt

In [4]:
dolar_2020_txt = pd.read_csv('\\Users\\aiant\\Desktop\\Diplomado Ciencia de Datos\\[6] Análisis y limpieza de datos\\Tareas\\Tarea 1\\tarea1-add\\data\\raw\\dolar_2020_sii.txt', sep='|', engine='python', decimal=',')
dolar_2020_txt

,1,Unnamed: 1,Unnamed: 2,Unnamed: 3,"852,03",Unnamed: 5,"806,32","821,23",Unnamed: 8,"776,46","788,15",Unnamed: 11,"767,29"
0,2,748.74,NaN,818.32,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16
1,3,754.16,799.11,817.45,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34
2,4,NaN,790.92,809.81,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03
3,5,NaN,781.78,812.19,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN
4,6,758.49,776.99,823.28,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN
5,7,771.82,779.12,NaN,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61
6,8,773.12,NaN,NaN,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN
7,9,766.83,NaN,828.95,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82
8,10,764.69,788.80,841.06,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45
9,11,NaN,795.88,834.22,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17
10,12,NaN,792.48,835.48,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN
11,13,770.56,788.33,852.06,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN
12,14,777.66,795.12,NaN,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55
13,15,772.29,NaN,NaN,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58
14,16,772.01,NaN,836.66,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23
15,17,773.36,792.73,850.51,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09
16,18,NaN,791.95,855.09,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44
17,19,NaN,796.90,862.69,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN
18,20,771.38,797.40,867.83,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN
19,21,769.93,804.74,NaN,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85
20,22,770.50,NaN,NaN,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70
21,23,772.12,NaN,851.01,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96
22,24,771.94,809.82,861.07,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25
23,25,NaN,810.20,847.04,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN
24,26,NaN,807.96,843.96,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN
25,27,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN
26,28,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26
27,29,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64
28,30,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24
29,31,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN
30,Promedio,772.65,796.38,839.38,853.38,821.81,793.72,784.73,784.66,773.40,788.27,762.88,734.73

In [5]:
dolar_2020_txt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1            31 non-null     object
 1   Unnamed: 1   23 non-null     float64
 2   Unnamed: 2   21 non-null     float64
 3   Unnamed: 3   23 non-null     float64
 4   852,03       21 non-null     float64
 5   Unnamed: 5   20 non-null     float64
 6   806,32       21 non-null     float64
 7   821,23       22 non-null     float64
 8   Unnamed: 8   22 non-null     float64
 9   776,46       21 non-null     float64
 10  788,15       21 non-null     float64
 11  Unnamed: 11  22 non-null     float64
 12  767,29       20 non-null     float64
dtypes: float64(12), object(1)
memory usage: 3.3+ KB

**¿Qué estructura tiene, en qué se diferencia y en qué es igual al dataframe anterior?**

1. Tiene estructura similar a los archivos CSV.
2. No tiene la fila de títulos de las columnas, por lo que comienza con la fila de valores. Esto hace que en vez de tener 32 entradas solo tenga 31.
3. Es igual al dataframe anterior en que la primera fila es de tipo "object", mientras que el resto es de tipo "float64".

**¿Qué método y argumento hay que usar para leer las columnas correctamente?**

Como el archivo original no tiene incluido el título de las columnas, hay que crear una lista con los nombres de las columnas y agregárselas al dataframe, sin perder la primera fila de valores.

### EXPLORAR ARCHIVO dolar_2020_sii_AA.txt

In [6]:
# (hint: sí)

dolar_2020_regex = pd.read_csv('\\Users\\aiant\\Desktop\\Diplomado Ciencia de Datos\\[6] Análisis y limpieza de datos\\Tareas\\Tarea 1\\tarea1-add\\data\\raw\\dolar_2020_sii_AA.dat', sep='X[a-zA-Zá-ý]X', engine='python', decimal=',')
dolar_2020_regex

,1,Unnamed: 1,Unnamed: 2,Unnamed: 3,"852,03",Unnamed: 5,"806,32","821,23",Unnamed: 8,"776,46","788,15",Unnamed: 11,"767,29"
0,2,748.74,NaN,818.32,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16
1,3,754.16,799.11,817.45,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34
2,4,NaN,790.92,809.81,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03
3,5,NaN,781.78,812.19,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN
4,6,758.49,776.99,823.28,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN
5,7,771.82,779.12,NaN,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61
6,8,773.12,NaN,NaN,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN
7,9,766.83,NaN,828.95,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82
8,10,764.69,788.80,841.06,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45
9,11,NaN,795.88,834.22,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17
10,12,NaN,792.48,835.48,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN
11,13,770.56,788.33,852.06,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN
12,14,777.66,795.12,NaN,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55
13,15,772.29,NaN,NaN,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58
14,16,772.01,NaN,836.66,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23
15,17,773.36,792.73,850.51,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09
16,18,NaN,791.95,855.09,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44
17,19,NaN,796.90,862.69,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN
18,20,771.38,797.40,867.83,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN
19,21,769.93,804.74,NaN,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85
20,22,770.50,NaN,NaN,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70
21,23,772.12,NaN,851.01,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96
22,24,771.94,809.82,861.07,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25
23,25,NaN,810.20,847.04,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN
24,26,NaN,807.96,843.96,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN
25,27,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN
26,28,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26
27,29,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64
28,30,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24
29,31,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN
30,Promedio,772.65,796.38,839.38,853.38,821.81,793.72,784.73,784.66,773.40,788.27,762.88,734.73

In [7]:
dolar_2020_regex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1            31 non-null     object
 1   Unnamed: 1   23 non-null     float64
 2   Unnamed: 2   21 non-null     float64
 3   Unnamed: 3   23 non-null     float64
 4   852,03       21 non-null     float64
 5   Unnamed: 5   20 non-null     float64
 6   806,32       21 non-null     float64
 7   821,23       22 non-null     float64
 8   Unnamed: 8   22 non-null     float64
 9   776,46       21 non-null     float64
 10  788,15       21 non-null     float64
 11  Unnamed: 11  22 non-null     float64
 12  767,29       20 non-null     float64
dtypes: float64(12), object(1)
memory usage: 3.3+ KB

**¿Qué estructura tiene?**

La estructura es similar a la del archivo dolar_2020_txt.

**¿Será buena idea ocupar expresiones regulares para indicar el separador?**

En este caso se tuvo que ocupar una expresión que sirviera para separador múltiple.

**Compárelo con el dataframe dolar_2020_txt. ¿Son exactamente iguales en la información que traen?**

Traen la misma información, incluso, ninguno trae el nombre de las columnas.

### OPERACIONES DE WRANGLING Y LIMPIEZA

1. Filtre sacando la última fila, arreglando y homogeneizando los encabezados para los tres dataframes.
2. Revise que los nombres de las columnas sean los mismos en cada dataframe.
3. Cree una columna en cada uno de los tres dataframes que se llame year y que tenga el año correspondiente, y que su type sea int64.
4. Convierta las comas a puntos en cada uno de los tres dataframes.
5. Fuerce que todas las variables sean de tipo int o de tipo float.

**DATAFRAME dolar_2019**

In [8]:
dolar_2019_rows_dropped = dolar_2019.drop(dolar_2019.index[[31]])

dolar_2019_columns = dolar_2019_rows_dropped.assign(Year=2019)

dolar_2019_final = dolar_2019_columns.astype('float64')
dolar_2019_final

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Year
0,1.0,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019.0
1,2.0,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019.0
2,3.0,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019.0
3,4.0,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019.0
4,5.0,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019.0
5,6.0,NaN,652.78,657.49,NaN,678.68,693.25,NaN,721.70,717.52,NaN,745.85,784.25,2019.0
6,7.0,688.42,653.90,658.40,NaN,681.09,692.21,NaN,716.35,NaN,715.53,743.65,NaN,2019.0
7,8.0,679.69,654.44,662.19,664.17,683.49,NaN,683.12,718.55,NaN,717.05,740.23,NaN,2019.0
8,9.0,680.10,NaN,NaN,663.01,684.51,NaN,685.83,710.98,711.22,722.28,NaN,779.04,2019.0
9,10.0,678.09,NaN,NaN,663.15,686.43,692.28,688.88,NaN,713.72,724.27,NaN,771.29,2019.0
10,11.0,677.58,656.46,670.83,662.92,NaN,697.34,685.40,NaN,714.77,720.61,746.23,778.14,2019.0
11,12.0,NaN,660.82,669.37,664.19,NaN,693.60,683.38,712.04,714.39,NaN,756.08,772.93,2019.0
12,13.0,NaN,660.49,667.09,NaN,685.67,694.89,NaN,716.69,711.29,NaN,783.72,768.69,2019.0
13,14.0,675.15,661.60,665.68,NaN,693.04,696.25,NaN,708.37,NaN,712.98,794.51,NaN,2019.0
14,15.0,674.95,665.90,670.62,660.67,692.33,NaN,681.07,NaN,NaN,712.04,801.83,NaN,2019.0
15,16.0,673.76,NaN,NaN,662.86,692.62,NaN,NaN,710.14,707.07,715.48,NaN,766.76,2019.0
16,17.0,672.73,NaN,NaN,663.98,692.79,698.72,679.48,NaN,709.81,718.69,NaN,762.83,2019.0
17,18.0,671.37,663.98,669.39,660.48,NaN,699.52,681.69,NaN,NaN,713.23,782.82,756.95,2019.0
18,19.0,NaN,660.82,667.21,NaN,NaN,696.81,683.27,709.26,NaN,NaN,773.81,752.30,2019.0
19,20.0,NaN,658.75,664.78,NaN,696.61,693.99,NaN,711.94,NaN,NaN,782.71,752.60,2019.0
20,21.0,670.10,654.52,666.13,NaN,NaN,684.19,NaN,710.63,NaN,709.71,797.17,NaN,2019.0
21,22.0,672.42,654.33,665.12,662.27,697.23,NaN,685.81,709.52,NaN,723.52,795.14,NaN,2019.0
22,23.0,672.26,NaN,NaN,663.91,696.70,NaN,688.28,713.22,715.24,726.24,NaN,749.83,2019.0
23,24.0,672.41,NaN,NaN,668.19,698.03,683.41,691.57,NaN,722.17,726.15,NaN,754.27,2019.0
24,25.0,672.14,651.36,676.60,672.83,NaN,682.31,691.36,NaN,721.92,723.43,795.94,NaN,2019.0
25,26.0,NaN,649.22,679.08,676.21,NaN,678.32,694.16,716.40,727.08,NaN,791.16,751.04,2019.0
26,27.0,NaN,649.80,679.02,NaN,694.84,680.06,NaN,718.75,726.17,NaN,793.49,746.66,2019.0
27,28.0,667.04,649.92,683.73,NaN,696.46,679.86,NaN,721.55,NaN,725.87,806.30,NaN,2019.0
28,29.0,671.29,NaN,681.09,673.86,703.48,NaN,696.62,724.20,NaN,724.37,828.25,NaN,2019.0
29,30.0,669.60,NaN,NaN,677.67,708.20,NaN,697.22,720.65,725.68,726.34,NaN,744.62,2019.0
30,31.0,666.76,NaN,NaN,NaN,707.86,NaN,699.98,NaN,NaN,NaN,NaN,NaN,2019.0

In [9]:
dolar_2019_columns.Year.info()

<class 'pandas.core.series.Series'>
RangeIndex: 31 entries, 0 to 30
Series name: Year
Non-Null Count  Dtype
--------------  -----
31 non-null     int64
dtypes: int64(1)
memory usage: 376.0 bytes

In [10]:
dolar_2019_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Día     31 non-null     float64
 1   Ene     22 non-null     float64
 2   Feb     20 non-null     float64
 3   Mar     21 non-null     float64
 4   Abr     21 non-null     float64
 5   May     21 non-null     float64
 6   Jun     20 non-null     float64
 7   Jul     22 non-null     float64
 8   Ago     21 non-null     float64
 9   Sep     18 non-null     float64
 10  Oct     22 non-null     float64
 11  Nov     20 non-null     float64
 12  Dic     20 non-null     float64
 13  Year    31 non-null     float64
dtypes: float64(14)
memory usage: 3.5 KB

**DATAFRAME dolar_2020_txt**

In [11]:
dolar_2020_txt.columns=['Día', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
nueva_linea_txt = pd.DataFrame({'Día':'1', 'Ene': 'NaN', 'Feb':'NaN', 'Mar':'NaN', 'Abr':852.03, 'May':'NaN', 'Jun':806.32, 'Jul':821.23, 'Ago':'NaN', 'Sep':776.46, 'Oct':788.15, 'Nov':'NaN', 'Dic':767.29}, index=[0])
dolar_2020_txt_nombres = pd.concat([nueva_linea_txt,dolar_2020_txt.loc[:]]).reset_index(drop=True)

dolar_2020_txt_nombres_rows_dropped = dolar_2020_txt_nombres.drop(dolar_2020_txt_nombres.index[[31]])

dolar_2020_txt_columns = dolar_2020_txt_nombres_rows_dropped.assign(Year=2020)

dolar_2020_txt_final = dolar_2020_txt_columns.astype('float64')
dolar_2020_txt_final

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Year
0,1.0,NaN,NaN,NaN,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020.0
1,2.0,748.74,NaN,818.32,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020.0
2,3.0,754.16,799.11,817.45,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020.0
3,4.0,NaN,790.92,809.81,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020.0
4,5.0,NaN,781.78,812.19,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020.0
5,6.0,758.49,776.99,823.28,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN,2020.0
6,7.0,771.82,779.12,NaN,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61,2020.0
7,8.0,773.12,NaN,NaN,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN,2020.0
8,9.0,766.83,NaN,828.95,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82,2020.0
9,10.0,764.69,788.80,841.06,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45,2020.0
10,11.0,NaN,795.88,834.22,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17,2020.0
11,12.0,NaN,792.48,835.48,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN,2020.0
12,13.0,770.56,788.33,852.06,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN,2020.0
13,14.0,777.66,795.12,NaN,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55,2020.0
14,15.0,772.29,NaN,NaN,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58,2020.0
15,16.0,772.01,NaN,836.66,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23,2020.0
16,17.0,773.36,792.73,850.51,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09,2020.0
17,18.0,NaN,791.95,855.09,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44,2020.0
18,19.0,NaN,796.90,862.69,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN,2020.0
19,20.0,771.38,797.40,867.83,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN,2020.0
20,21.0,769.93,804.74,NaN,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85,2020.0
21,22.0,770.50,NaN,NaN,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70,2020.0
22,23.0,772.12,NaN,851.01,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96,2020.0
23,24.0,771.94,809.82,861.07,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25,2020.0
24,25.0,NaN,810.20,847.04,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN,2020.0
25,26.0,NaN,807.96,843.96,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN,2020.0
26,27.0,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020.0
27,28.0,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020.0
28,29.0,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020.0
29,30.0,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020.0
30,31.0,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020.0

In [12]:
dolar_2020_txt_columns.Year.info()

<class 'pandas.core.series.Series'>
RangeIndex: 31 entries, 0 to 30
Series name: Year
Non-Null Count  Dtype
--------------  -----
31 non-null     int64
dtypes: int64(1)
memory usage: 376.0 bytes

In [13]:
dolar_2020_txt_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Día     31 non-null     float64
 1   Ene     22 non-null     float64
 2   Feb     20 non-null     float64
 3   Mar     22 non-null     float64
 4   Abr     21 non-null     float64
 5   May     19 non-null     float64
 6   Jun     21 non-null     float64
 7   Jul     22 non-null     float64
 8   Ago     21 non-null     float64
 9   Sep     21 non-null     float64
 10  Oct     21 non-null     float64
 11  Nov     21 non-null     float64
 12  Dic     20 non-null     float64
 13  Year    31 non-null     float64
dtypes: float64(14)
memory usage: 3.5 KB

**DATAFRAME dolar_2020_regex**

In [14]:
dolar_2020_regex.columns=['Día', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
nueva_linea_regex = pd.DataFrame({'Día':'1', 'Ene': 'NaN', 'Feb':'NaN', 'Mar':'NaN', 'Abr':852.03, 'May':'NaN', 'Jun':806.32, 'Jul':821.23, 'Ago':'NaN', 'Sep':776.46, 'Oct':788.15, 'Nov':'NaN', 'Dic':767.29}, index=[0])
dolar_2020_regex_nombres = pd.concat([nueva_linea_regex,dolar_2020_regex.loc[:]]).reset_index(drop=True)

dolar_2020_regex_nombres_rows_dropped = dolar_2020_regex_nombres.drop(dolar_2020_regex_nombres.index[[31]])

dolar_2020_regex_columns = dolar_2020_regex_nombres_rows_dropped.assign(Year=2020)

dolar_2020_regex_final = dolar_2020_regex_columns.astype('float64')
dolar_2020_regex_final

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Year
0,1.0,NaN,NaN,NaN,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020.0
1,2.0,748.74,NaN,818.32,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020.0
2,3.0,754.16,799.11,817.45,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020.0
3,4.0,NaN,790.92,809.81,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020.0
4,5.0,NaN,781.78,812.19,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020.0
5,6.0,758.49,776.99,823.28,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN,2020.0
6,7.0,771.82,779.12,NaN,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61,2020.0
7,8.0,773.12,NaN,NaN,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN,2020.0
8,9.0,766.83,NaN,828.95,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82,2020.0
9,10.0,764.69,788.80,841.06,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45,2020.0
10,11.0,NaN,795.88,834.22,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17,2020.0
11,12.0,NaN,792.48,835.48,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN,2020.0
12,13.0,770.56,788.33,852.06,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN,2020.0
13,14.0,777.66,795.12,NaN,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55,2020.0
14,15.0,772.29,NaN,NaN,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58,2020.0
15,16.0,772.01,NaN,836.66,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23,2020.0
16,17.0,773.36,792.73,850.51,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09,2020.0
17,18.0,NaN,791.95,855.09,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44,2020.0
18,19.0,NaN,796.90,862.69,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN,2020.0
19,20.0,771.38,797.40,867.83,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN,2020.0
20,21.0,769.93,804.74,NaN,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85,2020.0
21,22.0,770.50,NaN,NaN,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70,2020.0
22,23.0,772.12,NaN,851.01,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96,2020.0
23,24.0,771.94,809.82,861.07,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25,2020.0
24,25.0,NaN,810.20,847.04,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN,2020.0
25,26.0,NaN,807.96,843.96,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN,2020.0
26,27.0,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020.0
27,28.0,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020.0
28,29.0,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020.0
29,30.0,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020.0
30,31.0,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020.0

In [15]:
dolar_2020_regex_columns.Year.info()

<class 'pandas.core.series.Series'>
RangeIndex: 31 entries, 0 to 30
Series name: Year
Non-Null Count  Dtype
--------------  -----
31 non-null     int64
dtypes: int64(1)
memory usage: 376.0 bytes

In [16]:
dolar_2020_regex_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Día     31 non-null     float64
 1   Ene     22 non-null     float64
 2   Feb     20 non-null     float64
 3   Mar     22 non-null     float64
 4   Abr     21 non-null     float64
 5   May     19 non-null     float64
 6   Jun     21 non-null     float64
 7   Jul     22 non-null     float64
 8   Ago     21 non-null     float64
 9   Sep     21 non-null     float64
 10  Oct     21 non-null     float64
 11  Nov     21 non-null     float64
 12  Dic     20 non-null     float64
 13  Year    31 non-null     float64
dtypes: float64(14)
memory usage: 3.5 KB

### EXPORTAR DATAFRAMES

Exportar los tres dataframes en la carpeta data/interim de la siguiente forma:
1. dolar_2019 en formato csv, separado por comas, con nombre d2019.csv
2. dolar_2020_txt en formato txt, separado por un espacio simple, con nombre d2020.txt
3. dolar_2020_regex en formato CSV, separado por ";", de nombre dolar_2020_excel.csv

In [17]:
dolar_2019_final.to_csv('\\Users\\aiant\\Desktop\\Diplomado Ciencia de Datos\\[6] Análisis y limpieza de datos\\Tareas\\Tarea 1\\tarea1-add\\data\\interim\\d2019.csv', sep=',')

In [18]:
dolar_2020_txt_final.to_csv('\\Users\\aiant\\Desktop\\Diplomado Ciencia de Datos\\[6] Análisis y limpieza de datos\\Tareas\\Tarea 1\\tarea1-add\\data\\interim\\d2020.txt', sep='\t')

In [19]:
dolar_2020_regex_final.to_csv('\\Users\\aiant\\Desktop\\Diplomado Ciencia de Datos\\[6] Análisis y limpieza de datos\\Tareas\\Tarea 1\\tarea1-add\\data\\interim\\dolar_2020_excel.csv', sep=';')

### CONCATENAR DATAFRAMES

Concatenar con pd.concat de dos formas:
1. dolar_2019 y dolar_2020_txt solo con el argumento axis=1 guardándolo en el dataframe df_concat_1
2. dolar_2019 y dolar_2020_txt solo con el argumento axis=0 guardándolo en el dataframe df_concat_0

In [20]:
df_concat_1 = pd.concat([dolar_2019_final,dolar_2020_txt_final], axis = 1)
df_concat_1

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,...,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Year
0,1.0,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,...,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020.0
1,2.0,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,...,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020.0
2,3.0,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,...,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020.0
3,4.0,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,...,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020.0
4,5.0,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,...,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020.0
5,6.0,NaN,652.78,657.49,NaN,678.68,693.25,NaN,721.70,717.52,...,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN,2020.0
6,7.0,688.42,653.90,658.40,NaN,681.09,692.21,NaN,716.35,NaN,...,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61,2020.0
7,8.0,679.69,654.44,662.19,664.17,683.49,NaN,683.12,718.55,NaN,...,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN,2020.0
8,9.0,680.10,NaN,NaN,663.01,684.51,NaN,685.83,710.98,711.22,...,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82,2020.0
9,10.0,678.09,NaN,NaN,663.15,686.43,692.28,688.88,NaN,713.72,...,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45,2020.0
10,11.0,677.58,656.46,670.83,662.92,NaN,697.34,685.40,NaN,714.77,...,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17,2020.0
11,12.0,NaN,660.82,669.37,664.19,NaN,693.60,683.38,712.04,714.39,...,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN,2020.0
12,13.0,NaN,660.49,667.09,NaN,685.67,694.89,NaN,716.69,711.29,...,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN,2020.0
13,14.0,675.15,661.60,665.68,NaN,693.04,696.25,NaN,708.37,NaN,...,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55,2020.0
14,15.0,674.95,665.90,670.62,660.67,692.33,NaN,681.07,NaN,NaN,...,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58,2020.0
15,16.0,673.76,NaN,NaN,662.86,692.62,NaN,NaN,710.14,707.07,...,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23,2020.0
16,17.0,672.73,NaN,NaN,663.98,692.79,698.72,679.48,NaN,709.81,...,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09,2020.0
17,18.0,671.37,663.98,669.39,660.48,NaN,699.52,681.69,NaN,NaN,...,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44,2020.0
18,19.0,NaN,660.82,667.21,NaN,NaN,696.81,683.27,709.26,NaN,...,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN,2020.0
19,20.0,NaN,658.75,664.78,NaN,696.61,693.99,NaN,711.94,NaN,...,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN,2020.0
20,21.0,670.10,654.52,666.13,NaN,NaN,684.19,NaN,710.63,NaN,...,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85,2020.0
21,22.0,672.42,654.33,665.12,662.27,697.23,NaN,685.81,709.52,NaN,...,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70,2020.0
22,23.0,672.26,NaN,NaN,663.91,696.70,NaN,688.28,713.22,715.24,...,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96,2020.0
23,24.0,672.41,NaN,NaN,668.19,698.03,683.41,691.57,NaN,722.17,...,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25,2020.0
24,25.0,672.14,651.36,676.60,672.83,NaN,682.31,691.36,NaN,721.92,...,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN,2020.0
25,26.0,NaN,649.22,679.08,676.21,NaN,678.32,694.16,716.40,727.08,...,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN,2020.0
26,27.0,NaN,649.80,679.02,NaN,694.84,680.06,NaN,718.75,726.17,...,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020.0
27,28.0,667.04,649.92,683.73,NaN,696.46,679.86,NaN,721.55,NaN,...,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020.0
28,29.0,671.29,NaN,681.09,673.86,703.48,NaN,696.62,724.20,NaN,...,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020.0
29,30.0,669.60,NaN,NaN,677.67,708.20,NaN,697.22,720.65,725.68,...,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020.0
30,31.0,666.76,NaN,NaN,NaN,707.86,NaN,699.98,NaN,NaN,...,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020.0

In [21]:
df_concat_0 = pd.concat([dolar_2019_final,dolar_2020_txt_final], axis = 0)
df_concat_0

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Year
0,1.0,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019.0
1,2.0,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019.0
2,3.0,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019.0
3,4.0,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019.0
4,5.0,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,27.0,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020.0
27,28.0,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020.0
28,29.0,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020.0
29,30.0,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020.0
30,31.0,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020.0

**¿Qué problemas podríamos tener con las columnas en df_concat_1 y en los índices en df_concat_0?**

En df_concat_1 el problema que se podría tener es que no queda claro qué meses corresponden a qué año, mientras que en df_concat_0 los índices no son correlativos, sino que con el cambio de año vuelven a partir desde cero.